<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Cadastrar Pedido</h1>
            </div>
            <div class="card-body">
                <form action="/pedidos/cadastrar" method="POST">
                    <div class="mb-3">
                        <label for="numero" class="form-label">Número do Pedido:</label>
                        <input type="text" class="form-control" name="numero" required class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="valor" class="form-label">Valor do Pedido:</label>
                        <input type="text" class="form-control" name="valor" required class="form-control" placeholder="Insira o valor do pedido">

                        <label>Cliente</label>
                        <select name="clienteId" id="" class="form-control">
                            <option value="" selected disabled>Selecione um cliente</option>
                            <% clientes.forEach(cliente => { %>
                                <option value="<%= cliente.id %>"><%= cliente.nome %></option>
                            <% }) %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Pedidos</h1>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Número:</th>
                            <th>Valor:</th>
                            <th colspan="2" style="text-align: center;">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% pedidos.forEach(pedido => { %>
                        <tr>
                            <td><img src="imgs/order.png" width="30px"></td>
                            <td><%= pedido.numero %></td>
                            <td><%= pedido.valor.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></td>
                            <td>
                                <a href="/pedidos/excluir/<%= pedido.id %>">
                                    <button onclick="return confirm('Deseja mesmo excluir o pedido?')" class="btn btn-danger">
                                    Excluir
                                    </button>
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<%- include ('partials/footer.ejs') %>
